.input {
    display: block;
    width: 400px;
    padding-left: 1 rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    font-size: 16px;
    border-color: inherit;
    background-color: lightpink;
}

.small{
    height: 2.5rem;
    font-size:0.875rem;
}
.medium{
    height: 2.5rem;
    font-size: 1rem;
}
.large{
    height: 2.5rem;
    font-size: 1.25rem;
}